<div class="box">
  <div class="box-header">
    <h3 class="box-title">Groupz List</h3>
  </div><!-- /.box-header -->
  <div class="box-body table-responsive">
    <table class="table table-bordered table-hover ">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Owner</th>
        <th>Share ID</th>
<!--         <th>Actions</th>
 -->      </tr>
      </thead>
      <tbody>
      <% @Generic.each do |group| %>
          <tr>
            <td><%= group.id %></td>
            <td><a href="<%= request.base_url %>/list_groups/<%= group.id %>"><%= group.name %></a></td>
            <td>
              <% @owner = group.group_users.where(user_type: 2).first %>
              <% if @owner %>

                  @<%= pollzapp %> 
              <% end %>
            </td>
            <td><%= group.share_id %></td>
           <!--  <td>
              <form id="delete-group-<%= group.id %>" action="<%= request.base_url %>/list_groups/<%= group.id %>" method="post">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input type="hidden" name="_method" value="DELETE">
              </form>
              <button class="btn btn-warning btn-sm" onclick="if(confirm('Are you sure you want to delete this group?')) $('#delete-group-<%= group.id %>').submit(); else return false;">Delete</button>
              <button class="btn btn-warning btn-sm" onclick="if(confirm('Are you sure you want to edit this group?')) $('#delete-group-<%= group.id %>').submit(); else return false;">Edit</button>

            </td> -->
          </tr>
      <% end %>

      </tbody>
      <tfoot>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Owner</th>
        <th>Share ID</th>
        <!-- <th>Actions</th> -->
      </tr>
      </tfoot>
    </table>
  </div><!-- /.box-body -->
</div><!-- /.box -->
  

