<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Dashboard</title>
  <!-- Bootstrap -->
  <%= stylesheet_link_tag '/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag '/css/bootstrap-datepicker.css' %>

  <%= stylesheet_link_tag '/css/jquery-ui.css' %>

  <%= stylesheet_link_tag '/css/school-dashboard.css' %>
  <%= stylesheet_link_tag '/css/style1.css' %>
  <%= stylesheet_link_tag '/css/style-dashboard.css' %>
  <%= stylesheet_link_tag '/css/my-style.css' %>
  <%= stylesheet_link_tag '/css/new-style.css' %>

  <%= stylesheet_link_tag '/css/perfect-scrollbar.css' %>
  <%= stylesheet_link_tag '/css/slick.css' %>
  <%= stylesheet_link_tag '/css/lightgallery.css' %>


  <%= javascript_include_tag "jquery-1.9.js" %>
  <%= javascript_include_tag "jquery_ujs.js" %>
  <%= javascript_include_tag "jquery_ui.js" %>

  <%= javascript_include_tag "bootstrap.js" %>
  <%= javascript_include_tag "bootstrap-datepicker.js" %>

  <%= javascript_include_tag "school-dashboard.js" %>
  <%= javascript_include_tag "jquery.form-validator.min.js" %>
  <%= javascript_include_tag "perfect-scrollbar.js" %>
  <%= javascript_include_tag "lightgallery", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "lg-autoplay", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "slick.js" %>

  <%= javascript_include_tag "jquery_nested_form.js" %>

</head>
<body>
